@import (less) '../../app/styles/main';

#page-container{
	position: absolute;
	left: 0px;
	right: 0px;
	height: 100%;
	background-color: white;
	.column();
	.verticallyStretched();
	.horizontalStart();

	#p_navbar_container{
		display: none;
		a {
			color: @base;
			border: 2px solid @base;
			border-radius: 7px;
			padding: 0.5em 1em;;
			.demi();
		}
	}

	#app_container{
		position: relative;
		flex : 1;

		#p_body_container, #p_background_container{
			.verticallyCentered();
			.horizontallyCentered();

			#p_body{
				position: relative;

			  	overflow: hidden;

			  	background-color: white;
			}
			#img_background{
				height: 100%;
			}
		}
	}

	&>#full-container {
		flex : 1;
		.verticallyStretched();
		.horizontallyCentered();

		@media (min-width: 650px) {
			padding: 0px 5%;
		}
		@media (min-width: 800px) {
			padding : 0px 10%;
		}
		@media (min-width: 1000px) {
			padding : 0px 15%;
		}

		&>#comm_container {
			flex : 1;

			@media (max-width: 650px) {
				display: none;
			}
			img:first-child {
				margin: 0 auto;
			}
			img#just_dare_logo {
				width: 16em;
			}
			p {
				color: @gray;
				margin-bottom: 0.2em;
			}
			img {
				width: 10em;
				display: block;
				margin: 0 auto 1em auto;
			}
			#comm_social_link_container {
				margin-top: 8em;
				li {
					display: inline-block;
					vertical-align: top;
				}
				img {
					width: 2.5em;
					margin: 0 0.2em;
				}
			}
		}
	}

	&.web{
		#p_navbar_container{
			display: block !important;
			position: relative;
			background-color: rgba(255, 255, 255, 0.4);
			-webkit-backdrop-filter: blur(15px);
					backdrop-filter: blur(15px);
			z-index: 15;
			width: 100%;
		}
		#p_body_container, #p_background_container{
			overflow: visible;
		}
		#img_background{
			display: block !important;
		}
	}
}
