/* MOBILE STYLE */
	*{
		overflow-scrolling : touch;             /* enables natural touch scroll */
		-webkit-overflow-scrolling : touch;     /* enables natural touch scroll */
		
		::-webkit-scrollbar {
			display: none;
		}
	}
	body, html{
		/* SAFARI & CHROME */
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-text-size-adjust: none; 			/* prevent webkit from resizing text to fit */
		-webkit-overflow-scrolling : touch; 		/* enables natural touch scroll */
		-webkit-user-select: none; 					/* prevent magnifying glass */
		-webkit-touch-callout: none; 				/* prevent callout to copy image, etc when tap to hold */
		user-select: none; 							/* prevent copy paste, to allow, change 'none' to 'text' */
		touch-callout: none; 						/* prevent callout to copy image, etc when tap to hold */

		/* FIREFOX */
		tap-highlight-color: rgba(0,0,0,0);
		highlight-color: rgba(0,0,0,0);
		text-size-adjust: none; 					/* prevent webkit from resizing text to fit */
		overflow-scrolling : touch; 				/* enables natural touch scroll */
		position: absolute;
		top: 0px;
		margin : 0px;
		width: 100%;
		height : 100%;
		overflow: hidden;
		text-align: center;
		background-color: black;
	}
	label *{pointer-events: none;}
	label.needs-mouse *{pointer-events: auto;}
	img{
		visibility: hidden;

		&[src]{
			visibility: visible;
			&[src=""]{
				visibility: hidden;
			}
		}
	}
	video::-webkit-media-controls-start-playback-button{
	  display: none !important;
	}
	#page-container{
		overflow: hidden;
	}
	#app_container{
		overflow: hidden;
	}
	#page-container #p_background_container{
		display: none;
		&>#img_background{
			display: none;
		}
	}
	#page-container.web{
		#app_container{
			overflow-y: scroll;
			overflow-x: hidden;
			#p_background_container{
				display: flex !important;
				&>#img_background{
					display: block !important;
				}
			}
		}
	}
	#p_body_container, #p_background_container{
		position: absolute;
		top : 0px;
		left : 0px;
		width: 100%;
		height: 100%;
		overflow: scroll;
	}
	#p_body{
		position: relative;
		overflow : hidden;
	}
/* CUSTOM PAGE SECTIONS */
	.page-section{
		position: absolute;
		overflow: hidden;
		left : 0px;
		right : 0px;
	}
	.page{
		.page-section();
		top     : 0px;
		bottom  : 0px;
		&:not(.active){
					transform : translateX(100%);
			-webkit-transform : translateX(100%);

			input, select, textarea{
				display: none;
			}
		}
	}
	header{
		.page-section();
		top     : 0px;
		height  : @navHeight;
		&>.header-background{
			position: absolute;
			top : -20px;
			left : 0px;
			right : 0px;
			bottom: 0px;
		}
	}
	.page-body{
		.page-section();
		top     : @navHeight;
		bottom  : @navHeight;
	}
	.page-top{
		.page-section();
		top     : 0px;
		bottom  : @navHeight;
	}
	.page-bottom{
		.page-section();
		top     : @navHeight;
		bottom  : 0px;
	}
	footer{
		.page-section();
		bottom  : 0px;
		height  : @navHeight;
	}
/* IMAGES */
	.height-container(){}
	.img-container{
		position: relative;
		.verticallyCentered();
		.horizontallyCentered();
		&.height-container{
			&>object{height: 100%;}
		}
		&:not(.height-container){
			&>object{width: 100%;}
		}
		&>.img-calque{
			position: absolute;
			top : 0px;
			left : 0px;
			right : 0px;
			bottom : 0px;
		}
	}
/* CORNERS */
	.corner(){
		height : @navHeight;
		width : @navHeight;
		.verticallyCentered();
		.horizontallyCentered();
		z-index: 2;
		&>*{
			width: 75%;
		}
	}
	.top-left{
		position : absolute;
		top : 0px;
		left : 0px;
		.corner();
	}
	.top-right{
		position: absolute;
		top : 0px;
		right : 0px;
		.corner();
	}
	.bottom-left{
		position: absolute;
		bottom : 0px;
		left : 0px;
		.corner();
	}
	.bottom-right{
		position: absolute;
		bottom : 0px;
		right : 0px;
		.corner();
	}
/* BANDS */
	.full-width{
		width: 100%;
	}
/* LINKS */
	a{
		text-decoration: none;
		color:initial;
	}
	a:visited{color:initial;}
/* BUTTON IMAGE */
	.button-img{cursor: pointer;}